
/* =========================
   ENTRIES PAGE
========================= */

body{
  background:#000;
  margin:0;
  padding:0;
  font-family:Georgia, serif;
  color:white;
}



/* TITLE */

h1{
  text-align:center;
  color:#ff8fc7;
  font-size:68px;
  font-weight:normal;
  margin-top:70px;
  margin-bottom:90px;
  letter-spacing:2px;
}



/* ENTRY CARD */

.journal-entry{
  width:82%;
  max-width:850px;

  margin:0 auto 90px auto;

  background:#111;

  border:1px solid #ff8fc7;

  border-radius:30px;

  padding:50px;

  box-shadow:0 0 25px rgba(255,143,199,0.12);
}



/* ENTRY TITLE */

.journal-entry h2{
  color:#ff8fc7;
  font-size:42px;
  font-weight:normal;
  margin-bottom:12px;
}



/* DATE */

.date{
  color:#ffd4e8;
  font-size:18px;
  margin-bottom:25px;
  letter-spacing:1px;
}



/* PINK DIVIDER */

.entry-line{
  width:100%;
  height:1px;
  background:#ff8fc7;
  margin-bottom:30px;
  opacity:0.5;
}



/* ENTRY TEXT */

.journal-entry p{
  font-size:21px;
  line-height:2;
  color:white;
}



/* MOBILE */

@media (max-width:768px){

  h1{
    font-size:46px;
    margin-top:50px;
    margin-bottom:60px;
  }

  .journal-entry{
    width:88%;
    padding:30px;
    margin-bottom:60px;
  }

  .journal-entry h2{
    font-size:30px;
  }

  .journal-entry p{
    font-size:18px;
    line-height:1.8;
  }

}
